* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: black;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}
label {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
